<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="frame_mybaris.dao.TeacherMapper">
    <select id="selectTeacherById" resultMap="StudentMap">
        SELECT s.sid,t.tid,sname,NAME FROM student s,teacher t,middle m
      WHERE s.sid=m.sid AND t.tid=m.tid
      AND s.sid=#{?}
    </select>

    <resultMap id="StudentMap" type="Student">
        <id property="Id" column="id"/>
        <result property="sName" column="sname"/>
        <!--一个学生对应多个老师-->
        <collection property="teachers" ofType="Teacher">
            <id property="id" column="id"/>
            <result property="name" column="name"/>
        </collection>
    </resultMap>

    <!--根据老师编号 查询出所有学生的信息-->
    <select id="selectStudentById" resultMap="teacherMap">
 SELECT s.sid,t.tid,sname,NAME FROM student s,teacher t,middle m
 WHERE s.sid=m.sid AND t.tid=m.tid
 AND t.tid=#{xxx}
    </select>
    <resultMap id="teacherMap" type="Teacher">
        <id property="id" column="id"/>
        <result property="name" column="name"/>
        <!--一个学生对应多个老师-->
        <collection property="students" ofType="Student">
            <id property="Id" column="id"/>
            <result property="sName" column="sname"/>
        </collection>
    </resultMap>


</mapper>